<div class="search row">
  <div class="col s12">
    <ul class="collapsible search-pannel" data-collapsible="accordion">
      <li>
        <div class="collapsible-header" [ngClass]="{active: open}">
          <i class="material-icons">search</i>
          Recherche
        </div>
        <div class="collapsible-body">
          <form #searchForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!waitSearch">
            <div class="row">
              <div class="input-field col s6">
                <label for="time">A</label>
                <input type="number" class="validate" id="time" min="1" placeholder="Minutes" step="1" name="time" [(ngModel)]="search.time" required>
              </div>
              <div class="input-field col s6">
                <autocomp></autocomp>
              </div>
              <div class="input-field col s6">
                <label for="price">Prix maximum</label>
                <input type="number" class="validate" min="1" step="1" id="price" name="price" placeholder="Prix" [(ngModel)]="search.price">
              </div>
              <div class="input-field col s6">
                <label for="room">Nombre de pièces mininum</label>
                <input type="number" class="validate" min="1" step="1" id="room" name="room" value="1" [(ngModel)]="search.room">
              </div>
              <div class="col s6">
                <input type="checkbox" name="house" id="house" value="house" [(ngModel)]="search.house" checked>
                <label for="house">Maison</label>
              </div>
              <div class="col s6">
                <input type="checkbox" name="apartment" id="apartment" value="apartment" [(ngModel)]="search.apartment" checked>
                <label for="apartment">Appartement</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 center-align">
                <button type="submit" class="waves-effect waves-light btn" [disabled]="!searchForm.valid || !search.lat || !search.lng">
                  Rechercher
                  <i class="material-icons right">search</i>
                </button>
              </div>
            </div>
          </form>
          <div class="row" *ngIf="waitSearch">
            <ul class="col s12">
              <li>
                <p>Recherche en cours...</p>
                <div class="progress">
                  <div [ngClass]="{indeterminate: progress.progress == 0, determinate: progress.progress > 0}" [ngStyle]="{'width': progress.progress + '%'}"></div>
                </div>
              </li>
              <li>
                <input type="checkbox" id="city" [checked]="progress.city >= 100" />
                <label for="city">Recherche des villes</label>
              </li>
              <li *ngFor="let provider of progress.providers; index as i;">
                <input type="checkbox" [id]="'provider' + i" [checked]="provider.progress >= 100" />
                <label [for]="'provider' + i">Recherche sur {{provider.name}}</label>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>